@{
    ViewBag.Title = "Confirmation";
}


<h2>RSVP</h2>

<div class="center">We wish you could make it!</div>
<br />
<br />
<a href="/registry" class="btn btn-default btn-block btn-lg">Click here to view our registry!</a>