
@{
    ViewBag.Title = "Accomodations";
}

<h2>Hotelss</h2>

<p>We have blocked rooms at 2 hotels for our guests. You can book by phone or web, but be sure to use our group code to get the discounted rate!  The hotels are about 40 minutes from the wedding venue, however, we will have buses to shuttle hotel guests to and from the venue.  Visit the <a href="/travel">travel</a> page for more information.</p>

<div class="row">
    <div class="col-md-12">
        <table class="hotels">
            <tr>
                <td style="width: 50%;"><h3>Holiday Inn Express & Suites Elkton - University Area</h3></td>
                <td style="width: 50%;"><h3>Hampton Inn Elkton</h3></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr><td>Group Code:</td><td>CRW</td></tr>
                        <tr><td>Phone:</td><td>(443) 350-9154</td></tr>
                        <tr><td>Address:</td><td>1570 Elkton Rd, Elkton, MD 21921</td></tr>
                    </table>
                    <a class="btn btn-default btn-block" href="https://www.hiexpress.com/redirect?path=hd&brandCode=ex&localeCode=en&regionCode=1&hotelCode=elses&_PMID=99801505&GPC=CRW&viewfullsite=true" target="_blank">Book Now!</a>
                </td>
                <td>
                    <table>
                        <tr><td>Group Code:</td><td>CRW</td></tr>
                        <tr><td>Phone:</td><td>(410) 398-7777</td></tr>
                        <tr><td>Address:</td><td>2 Warner Rd, Elkton, MD 21921</td></tr>
                    </table>
                    <a class="btn btn-default btn-block" href="http://hamptoninn3.hilton.com/en/hotels/maryland/hampton-inn-elkton-ELKMDHX/index.html" target="_blank">Book Now!</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<br />
<h2>Alternative Options</h2>
<h3>B & B</h3>
<p>For those who want to get the true Chesapeake experience, there are many Bed and Breakfasts in Chesapeake City, located a quick 20 minutes from the venue. <a href="http://chesapeakecity.com/">Chesapeake City</a> is a quaint town full of history with several homes from the 1800's that have been converted to Bed and Breakfasts. We were unable to block rooms at these B&amp;B's and rooms will fill up by the spring, so book early if interested.</p>


<div class="row">
    <div class="col-md-3">
        <h3>Ship Watch Inn</h3>
        <table>
            <tr><td>Rooms:</td><td>10</td></tr>
            <tr><td>Phone:</td><td>(410) 885-5300</td></tr>
            <tr><td>Address:</td><td>401 1st St, Chesapeake City, MD 21915</td></tr>
            <tr><td>Website:</td><td><a href="http://www.shipwatchinn.com/" target="_blank">shipwatchinn.com</a></td></tr>
        </table>
    </div>
    <div class="col-md-3">
        <h3>Inn at the Canal</h3>
        <table>
            <tr><td>Rooms:</td><td>7</td></tr>
            <tr><td>Phone:</td><td>(410) 885-5995</td></tr>
            <tr><td>Address:</td><td>104 Bohemia Ave, Chesapeake City, MD 21915</td></tr>
            <tr><td>Website:</td><td><a href="http://innatthecanal.com/" target="_blank">innatthecanal.com</a></td></tr>
        </table>
    </div>
    <div class="col-md-3">
        <h3>Doc Smithers B&amp;B</h3>
        <table>
            <tr><td>Rooms:</td><td>2</td></tr>
            <tr><td>Phone:</td><td>(410) 885-3820</td></tr>
            <tr><td>Address:</td><td>204 Bohemia Ave, Chesapeake City, MD 21915</td></tr>
            <tr><td>Website:</td><td>none</td></tr>
        </table>
    </div>
    <div class="col-md-3">
        <h3>The Blue Max Inn</h3>
        <table>
            <tr><td>Rooms:</td><td>9</td></tr>
            <tr><td>Phone:</td><td>(410) 885-2781</td></tr>
            <tr><td>Address:</td><td>300 Bohemia Ave, Chesapeake City, MD 21915</td></tr>
            <tr><td>Website:</td><td><a href="http://www.bluemaxinn.com/" target="_blank">bluemaxinn.com</a></td></tr>
        </table>
    </div>
</div>



<style>
    html {
        background: url('../img/IMG_2194.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>