
@{
    ViewBag.Title = "Details";
}

<h2>Location</h2>

<p>The wedding is located at <a href="https://www.google.com/maps/place/296+Holly+Dr,+Earleville,+MD+21919" target="_blank">296 Holly Dr, Earleville, Maryland 21919</a>. The ceremony and reception will be outdoors on the lawn, so check the weather for appropriate attire.</p>
<br />
<h2>Time</h2>

<p>The ceremony will begin at 5 O'clock with cocktail hour and reception immediately following.</p>

<style>
    html {
        background: url('../img/Activities.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;   
    }
</style>