
@{
    //Layout = null;
    ViewBag.Title = "Map";
}

@*<iframe src="https://www.google.com/maps/d/embed?mid=1MxEUCrQOIdNpF0bwWk8dScTRbNw" frameborder="0" allowfullscreen style="border: 0; width: 100%; height: 100%;"></iframe>*@

<div class="google-maps">
    <iframe src="https://www.google.com/maps/d/embed?mid=1MxEUCrQOIdNpF0bwWk8dScTRbNw" frameborder="0" allowfullscreen width="640" height="480"></iframe>
</div>
<br />
<a href="https://www.google.com/maps/d/viewer?mid=1MxEUCrQOIdNpF0bwWk8dScTRbNw&ll=39.50826529894122%2C-75.85160149999996&z=11" target="_blank" class="btn btn-block btn-default btn-lg">Click here to view in Google Maps</a>

<style>
    .main {padding-top: 30px;}
</style>