
@{
    ViewBag.Title = "Registry";
}

<h2>Registry</h2>

<div class="row">
    <div class="col-md-6" style="text-align:center; padding-top: 10px;"><a target="_blank" href="https://secure.williams-sonoma.com/registry/6mmk96dn9k/registry-list.html"><img src="~/img/williams_sonoma.png" /></a></div>
    <div class="col-md-6" style="text-align:center; padding-top: 10px;"><a target="_blank" href="https://food52.com/shop/registry/1972-matthew-and-meredith"><img src="~/img/food52.png" /></a></div>
</div>


<style>
    html {
        background: url('../img/IMG_2150.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>