
@{
    ViewBag.Title = "Travel";
}

<h2>Airports</h2>
<p>The closest airport is Philadelphia International Airport (PHL) located 21 miles away from the hotels. A rental car is recommended for the weekend to get around.</p>
<br />
<h2>Driving to the Wedding</h2>
<p>Guests are welcome to drive to the wedding venue. There will be parking along the road leading to the house and will be a short walk to the ceremony. Use <a href="https://www.google.com/maps/place/296+Holly+Dr,+Earleville,+MD+21919" target="_blank">Google Maps</a> for directions to the venue, keep a look out for the signs and balloons leading to the designated parking area.</p>
<br />
<h2>Buses from Hotel</h2>
<p>As a convenience for our guests staying at the designated hotels, a shuttle bus service will be provided to transport guests to and from the hotels and wedding.  This is the recommended means of transportation to ensure guests arrive on time for the ceremony.  There will be one trip to the venue and two return trips to the hotels, for the early and late crowds.  Seats on the buses will be limited and on a first come, first served basis.</p>
<a href="/rsvp" class="btn btn-default btn-block btn-lg">Click here to RSVP and sign up for the bus</a>